* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
}

/*========== HEADER ==========*/

.main-header {
    background-color: #1e1e1e;
    width: 100%;
    padding: 20px 0;
    border-bottom: 3px solid #333;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    font-size: 45px;
    font-weight: 800;
    color: #f5f5f5;
    letter-spacing: -1px;
}

.header-container p {
    font-size: 22px;
    color: #aaaaaa;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

/*========== BOX DO CADASTRO ==========*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(90vh - 70px); 
}

.box {
    background: #111;
    padding: 40px 20px;
    border-radius: 18px;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 0 30px #f5f5f5; 
}

.box h1 {
    color: #fff;
    margin-bottom: 10%;
}

form input {
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #333;
  background: #000;
  outline: none;
}

form input:focus {
  border-color: #777;
}

form button {
    margin-top: 10%;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 18px;
    background-color: #007BFF;
    color: #f5f5f5;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #f5f5f5;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 0 15px #f5f5f5;
}

/*========== SE ERRAR O CADASTRO ==========*/

.error-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 10000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}